:root {
  /* color palette */
  --dark: #252420;
  --light: #fffdee;
  --accent: #f1bd37;
  --transp: #f1bd3791;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
  font-family: Calibri, sans-serif;
  padding: 1%;
}
body:after {
  content: "";
  display: block;
  clear: both;
}
aside,
main {
  float: left;
  margin: 1%;
}
aside {
  width: 31.33%;
  padding-bottom: 31.33%;
  background: var(--dark);
  color: var(--light);
}

header {
  float: right;
  width: 64.66%;
  padding-bottom: 14.66%;
  background: var(--accent);
}
main {
  width: 31.33%;
  padding-bottom: 14.66%;
}
@media (max-width: 414px) {
  aside {
    width: 98%;
    padding-bottom: 31.33%;
  }
  header {
    width: 48%;
    padding-bottom: 48%;
  }
}
