:root {
  /* color palette */
  --dark: #252420;
  --light: #fffdee;
  --accent: #f1bd37;
  --transp: #f1bd3791;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
