@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* color palette */
  --dark: #264653;
  --green: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --sienna: #e76f51;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
h1 {
  font-size: var(--fs-h1);
  font-weight: 500;
}
h2 {
  font-size: var(--fs-h2);
  padding: 2rem 0;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: var(--fs-h3);
}
span {
  font-weight: bold;
  display: block;
  color: var(--sienna);
}
.card img {
  object-fit: cover;
}

@media (max-width: 310px) {
  .home {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 990px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* Navbar */

/* Home */
.home,
.about {
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home img {
  max-width: 400px;
  filter: drop-shadow(0 0 0.75rem black /* var(--orange) */);
}
.home-subtitle,
.about-subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: var(--fs-h3);
  background-color: var(--green);
  color: azure;
  padding: 5px 20px;
  letter-spacing: 0.1em;
}
.titles {
  padding-left: 1em;
  max-width: 500px;
}
.home-subtitle {
  margin-top: 0.5em;
  margin-left: -250px;
  text-align: right;
}

/* About Me */
.about h2 {
  color: var(--dark);
  margin-bottom: -0.75em;
  text-align: left;
}
.about img {
  max-width: 300px;
  min-width: 180px;
  object-fit: cover;
  object-position: 10px 20px;
}
.about p {
  margin-top: 0.5em;
  text-align: justify;
}
.about-subtitle {
  margin-top: 0.5em;
  margin-right: -180px;
}

/* What I do */
.hero {
  background-color: var(--dark);
  background-image: url(https://cdn.pixabay.com/photo/2016/05/05/11/22/computer-1373684_1280.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  color: azure;
  text-align: center;
  align-items: center;
}
.hero h2 {
  color: var(--green);
}
.service {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .hero-body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  .service + .service {
    margin-left: 2em;
  }
}

.btn {
  text-decoration: none;
  margin: 2rem;
  padding: 0.5em 1.5em;
  border-radius: 9999px;
  text-decoration: none;
  background-color: var(--green);
  color: azure;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: transform 2000ms ease-and-out;
}
.btn:hover {
  transform: scale(1.1);
}

/* Projects */
.projects {
  background-color: black;
  color: var(--orange);
}
.projects-title2 {
  color: var(--yellow);
}

/* Footer */
footer {
  background-color: var(--dark);
  background-image: url(https://i.postimg.cc/cLrMmJ1G/network-ga475638d7-1280.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  color: azure;
  text-align: center;
  padding: 2.5em 0;
}

footer a {
  color: var(--green);
  font-size: var(--fs-h3);
  font-weight: bold;
}
.social-media {
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
}
.social-media li {
  margin: 0 1em;
}
