* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}
body {
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid rgb(196, 192, 192);
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: pink;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e2bbd3;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e2bbd3;
}
.pricing-price {
  color: rosybrown;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid rosybrown;
  border-radius: 10px;
  color: rgb(212, 99, 118);
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #ffe1ec;
}

.is-featured {
  background-color: #f073a1;
  color: white;
  border: none;
}
.is-featured:hover,
.is-featured:focus {
  background-color: #e24a81;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e2bbd3;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
